form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  min-width: 350px;
  margin: 50px;
}

form > div {
  border-top: 2px solid black;
  padding: 10px 0px 5px 0px;
}

#last {
  border-bottom: 2px solid black;
}

input {
  all: unset;
  width: 100%;
}

textarea {
  width: 100%;
  background-color: unset;
  border: none;
  outline: none;
  resize: none;
}

label {
  margin-right: 10px;
}

button {
  all: unset;
  width: fit-content;
  margin: 10px;
  padding: 3px;
  border: 2px solid black;
  cursor: pointer;
}