header {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #8C9A9E;
  z-index: 1000;
  margin-top: -60px;
}

header > a {
  color: black;
  text-decoration: none;
}

.hash {
  font-family: monospace;
  font-size: 12px;
  text-decoration: underline;
}

.hash:hover {
  font-weight: bold;
}

#contact-link {
  background-color: #d4f5f5;
  padding: 0px 10px;
  border-radius: 10px;
}