.project-card {
  margin: 10px;
  padding: 0px 10px;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.project-card:hover {
  background-color: rgb(255,255,255,0.25);
}

.project-card > a {
  text-decoration: none;
  color: inherit;
  margin-right: 5px;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
}

.project-card > a:hover {
  color: rgb(255,255,255,0.75);
  transform: translate(0, -3px);
}

.tech {
  font-size: 25px;
}

#g-link {
  justify-self: flex-end;
  border: black 1px solid;
  border-radius: 5px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  transition: ease-in-out 0.3s;
}

#g-link:hover {
  background-color: rgb(255,255,255,0.75);
  transform: translate(0, -3px)
}